@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(249, 240, 255);
    position: relative;
}
.bg{
    background-color: hsl(292, 42%, 14%);
    z-index: -5;
    position: absolute;
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url("./../images/background-pattern-desktop.svg");
}

.container {
    width: 90%;
    margin: 0 auto;
}

.modal {
    background-color: hsl(0, 0%, 100%);
    border-radius: 6px;
    box-shadow: hsl(275, 100%, 97%) 0px 5px 15px 0px;
    // position: absolute;
    position: relative;
    padding: 2em 0;
    top:-4%;
    // height: 70%;
    max-width: 600px;
    // transform: translate(-50%, -50%);
    font-family: "Work Sans";
    @media screen and (max-width: 600px) {
        // top:0;
        width: 90%;
    }
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        img {
            margin-right: 15px;
        }
        h1 {
            font-weight: 700;
            font-size: 40px;
            
            @media screen and (max-width: 600px) {
                font-size: 27px;
            }
        }
    }
    .accordion-item{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        .accordion-item-header {
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                font-weight: 600;
                font-size: 16px;
                margin-right: 25px;
            }
        }
        .accordion-item-content {
            color: hsl(292, 16%, 49%);
            
            transition: height 0.2s 0s ease-in;
            overflow: hidden;
        }
        
    }
}